<nav>
  <div class="site-title">
    <a href="/"><h1>UMDb</h1></a>
    <p>Movie Reviews</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>    
    <li><a href="/movies">Browse Movies</a></li>
    <li><a href="/admins">Admins</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>


