<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/navBar.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>UMDb is a platform meant to provide users with a social experience as they share their ratings and reviews on movies. </p><br>
    <p>It is part of a project under a graduate class in University of Pisa: "Large-Scale and Multi-structured Databases", and aims to demonstrate our understanding of the course material by creating a fully functioning application using different notions and technologies covered.</p><br>
    <p>The platform is supplied with a large collection of movies for users to browse and review, and also create watch-lists to organize their activity on the application. Moreover, it promotes the social aspect by allowing users to interact amongst themselves by following each other and/or their preferred watch-lists.</p><br>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>