<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
  <%- include("./partials/navBar.ejs") %>
  <div class="admin content">
  <h1>Welcome to the </h1>
  <h4>Admins Page</h4>
  <h6>Add a movie to database</h6>
  <h6>Remove a movie</h6>
  <h6>Delete User Profiles</h6>


   </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>