<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
  <%- include("./partials/navBar.ejs") %>
  <div class="admin content">
  <h1>Welcome to the </h1>
  <h3>Admins Page</h3>
    <p>This is the Admins page. The admins are allowed to do the basic database tasks.</p>
        <h5>Add</h5>
        <h5>Delete</h5>
        <h5>Viw</h5>
     <p>Movies, Reviews,Users and other staff.</p>
   </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>