<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/navBar.ejs") %>

  <div class="movies">
    <h2>Welcome to Movies...</h2>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>